<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">       <!--make parallel as tests, for test classes to work in parallel-->
    <test name="Pixel_8">
<!--        <listners>-->
<!--            <listner class-name="com.qa.listeners.TestListener"/>-->
<!--        </listners>-->
<!--        <parameter name="emulator" value="true"/>-->
        <parameter name="platformName" value="Android"/>
        <parameter name="udid" value="emulator-5554"/>
        <parameter name="deviceName" value="Pixel_8_API_35"/>
        <parameter name="systemPort" value="10000"/>
        <parameter name="chromeDriverPort" value="11000"/>
        <classes>
            <class name="com.qa.runners.MyPixel8TestNGRunnerTest">
            </class>
        </classes>
    </test>

</suite> <!-- Suite -->